@model ChallengeServiceModel

@{
    ViewBag.Title = "Challenge details";
}

<h1 class="text-color-green text-center">@ViewBag.Title</h1>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />

<div class="container emp-profile">
    <form method="post">
        @foreach (var player in Model.Players)
        {
            <div class="column">
                <div class="profile-card">
                    <a asp-controller="Player" asp-action="Details" asp-route-id="@player.Id" />
                    <img src="/UploadedPhotos/ProfilePhotos/@player.ProfilePhoto" class="img img-responsive">
                    <div class="profile-name">
                        @player.Name
                    </div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col">
                                    <h3>@player.Rank</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col">
                                    <h3>@player.Wins</h3>
                                    <p>Wins</p>
                                </div>
                                <div class="col">
                                    <h3>@player.Losses</h3>
                                    <p>Losts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="text-color-white form-check-label" for="inlineRadio1">@player.Name</label>
            </div>
            <div class="col-sm-10">
                <button asp-controller="Challenge" asp-action="ChallengeResult" asp-route-challengeId="@Model.Id" asp-route-winnerId="@player.Id"  type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
        
        <h4 class="text-color-white">Who is the winner?</h4>
        
    </form>
</div>
