@model TournamentFormModel

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src='https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js'></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css'>
<link rel="stylesheet" href="css/calendar.css">
<link rel="stylesheet" href="css/calendar2.css">

<form method="post" enctype="multipart/form-data" asp-controller="Tournament" asp-action="AddTournament">
    <div class="row">
        <div class="offset-md-3 col-md-5 col-sm-12">
            <h2 class="text-color-green text-center mb-4 mt-3">@ViewBag.Title</h2>

            <div class="form-group row">
                <label asp-for="Name" class="text-color-white col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter name">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="MinRank" class="text-color-white col-sm-2 col-form-label">Min Rank</label>
                <div class="col-sm-10">
                    <input asp-for="MinRank" type="number" step=".50" max="10" min="1" class="form-control" placeholder="Enter minimum rank">
                    <span asp-validation-for="MinRank" class="small text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="GameType" class="text-color-white">Game type</label>
                <select asp-for="GameType" class="form-control">
                    <span asp-validation-for="GameType" class="small text-danger"></span>
                    @foreach (GameType gameType in (GameType[])Enum.GetValues(typeof(GameType)))
                    {
                        <option>@gameType</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CourtType" class="text-color-white">Court type</label>
                <select asp-for="CourtType" class="form-control">
                    <span asp-validation-for="CourtType" class="small text-danger"></span>
                    @foreach (CourtType courtType in (CourtType[])Enum.GetValues(typeof(CourtType)))
                    {
                        <option>@courtType</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Set" class="text-color-white">Sets</label>
                <select asp-for="Set" class="form-control">
                    <span asp-validation-for="Set" class="small text-danger"></span>
                    @foreach (Set set in (Set[])Enum.GetValues(typeof(Set)))
                    {
                        <option>@set</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Game" class="text-color-white">Games</label>
                <select asp-for="Game" class="form-control">
                    <span asp-validation-for="Game" class="small text-danger"></span>
                    @foreach (Game game in (Game[])Enum.GetValues(typeof(Game)))
                    {
                        <option>@game</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Rule" class="text-color-white">Rule</label>
                <select asp-for="Rule" class="form-control">
                    <span asp-validation-for="Rule" class="small text-danger"></span>
                    @foreach (Rule rule in (Rule[])Enum.GetValues(typeof(Rule)))
                    {
                        <option>@rule</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="LastSet" class="text-color-white">Last set</label>
                <select asp-for="LastSet" class="form-control">
                    <span asp-validation-for="LastSet" class="small text-danger"></span>
                    @foreach (LastSet lastSet in (LastSet[])Enum.GetValues(typeof(LastSet)))
                    {
                        <option>@lastSet</option>
                    }
                </select>
            </div>
            <div class="form-floating mb-4 d-flex">
                <select asp-for="StartDate" class="form-control"></select>
                <input asp-for="StartDate" type="text"
                       class="datepicker_input form-control border-2"
                       id="datepicker1"
                       required
                       placeholder="DD/MM/YYYY">
                <label asp-for="StartDate">Pick Date</label>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="text-color-white col-sm-2 col-form-label">Description</label>
                <textarea asp-for="Description" type="text" class="form-control" placeholder="Enter more info about tournament" rows="3"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <label class="text-color-white form-label" asp-for="CoverPhoto">Add cover photo</label>
            <input type="file" name="coverPhoto" class="form-control" />
            <span asp-validation-for="CoverPhoto" class="text-danger"></span>

            <div class="form-group row">
                <div class="col-sm-10">
                    <input class="btn btn-success mt-2" type="submit" value="Save" />
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    const getDatePickerTitle = elem => {
      const label = elem.nextElementSibling;
      let titleText = '';
      if (label && label.tagName === 'LABEL') {
        titleText = label.textContent;
      } else {
        titleText = elem.getAttribute('aria-label') || '';
      }
      return titleText;
    }

    const elems = document.querySelectorAll('.datepicker_input');
    for (const elem of elems) {
      const datepicker = new Datepicker(elem, {
        'format': 'dd/mm/yyyy',
        title: getDatePickerTitle(elem)
      });
    }
</script>