@model AddTournamentFormModel

@{
    ViewData["Title"] = "Add Tournament";
}

<form method="post">
    <div class="row">
        <div class="offset-md-2 col-md-8 col-sm-12">
            <h2 class="text-center">Add Tournament</h2>

            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter league name">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="GameTypeId"></label>
                <select asp-for="GameTypeId" class="form-control">
                    <span asp-validation-for="GameTypeId" class="small text-danger"></span>
                    @foreach (var type in Model.GameTypes)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CourtTypeId"></label>
                <select asp-for="CourtTypeId" class="form-control">
                    <span asp-validation-for="CourtTypeId" class="small text-danger"></span>
                    @foreach (var court in Model.CourtTypes)
                    {
                        <option value="@court.Id">@court.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SetId"></label>
                <select asp-for="SetId" class="form-control">
                    <span asp-validation-for="SetId" class="small text-danger"></span>
                    @foreach (var set in Model.Sets)
                    {
                        <option value="@set.Id">@set.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="GameId"></label>
                <select asp-for="GameId" class="form-control">
                    <span asp-validation-for="GameId" class="small text-danger"></span>
                    @foreach (var set in Model.Games)
                    {
                        <option value="@set.Id">@set.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="RuleId"></label>
                <select asp-for="RuleId" class="form-control">
                    <span asp-validation-for="RuleId" class="small text-danger"></span>
                    @foreach (var set in Model.Rules)
                    {
                        <option value="@set.Id">@set.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="LastSetId"></label>
                <select asp-for="LastSetId" class="form-control">
                    <span asp-validation-for="LastSetId" class="small text-danger"></span>
                    @foreach (var set in Model.LastSets)
                    {
                        <option value="@set.Id">@set.Name</option>
                    }
                </select>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" asp-controller="Tournament" asp-action="Add" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
