@model AllTournamentsQueryModel

@{
    ViewBag.Title = "All Tournaments";
}

<form method="get">
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="SearchTerm" class="form-label"></label>
            <div>
                <input asp-for="SearchTerm" type="text" class="form-control" placeholder="Enter name...">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="GameType"></label>
            <select asp-for="GameType" class="form-control">
                @foreach (GameType gameType in (GameType[])Enum.GetValues(typeof(GameType)))
                {
                    <option>@gameType</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="CourtType"></label>
                <select asp-for="CourtType" class="form-control">
                    @foreach (CourtType courtType in (CourtType[])Enum.GetValues(typeof(CourtType)))
                    {
                        <option>@courtType</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-3">
            <input type="submit" class="btn btn-primary d-none" value="Search" />
        </div>
    </div>
</form>

<div class="row">
    <h2 class="text-center mb-4 mt-3">@ViewBag.Title</h2>
    @foreach (var tournament in Model.Tournaments)
    {
        <div class="col-md-4">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="/UploadedPhotos/CoverPhotos/@tournament.CoverPhoto">
                    <div class="card-body">
                        <h5 class="card-title">@tournament.Name</h5>
                        <h6 class="card-title">@tournament.GameType | @tournament.CourtType</h6>
                        <p class="card-text">@tournament.Description</p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Tournament" asp-action="Invite" asp-route-id="@tournament.Id" class="btn btn-outline-warning">Join</a>
                            <a asp-controller="Tournament" asp-action="Edit" asp-route-id="@tournament.Id" class="btn btn-primary">Edit</a>
                            <a asp-controller="Tournament" asp-action="Delete" asp-route-id="@tournament.Id" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
