@model AllTournamentsQueryModel

@{
    ViewBag.Title = "Tournaments";
}

@if (!Model.Tournaments.Any())
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="text-color-white display-4 mt-5">There are no tournaments yet</h1>
            @if (User.IsInRole(Roles.Administrator))
            {
                <p class="text-color-white lead">
                    To add a tournament go to
                    <a asp-controller="Tournament" asp-action="AddTournament" class="btn btn-outline-warning">Add Tournament</a>
                </p>
            }
            else
            {
                <p class="text-color-white lead">
                    Contact the website administrator.
                </p>
            }
        </div>
    </div>
}
else
{
    <h2 class="text-color-green text-center mb-4 mt-3">@ViewBag.Title</h2>

    <form method="get">
        <div class="row mb-4 mt-3">
            <div class="form-group col-md-3">
                <label asp-for="SearchTerm" class="text-color-white form-label">Search:</label>
                <div>
                    <input asp-for="SearchTerm" type="text" class="form-control" placeholder="Enter name...">
                </div>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="GameType" class="text-color-white form-label">Game type:</label>
                <select asp-for="GameType" class="form-control">
                    @foreach (GameType gameType in (GameType[])Enum.GetValues(typeof(GameType)))
                    {
                        <option>@gameType</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <div class="form-group">
                    <label asp-for="CourtType" class="text-color-white form-label">Court type:</label>
                    <select asp-for="CourtType" class="form-control">
                        @foreach (CourtType courtType in (CourtType[])Enum.GetValues(typeof(CourtType)))
                        {
                            <option>@courtType</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <input type="submit" class="btn btn-primary d-none" value="Search" />
            </div>
        </div>
    </form>

    <div class="row">
        @foreach (var tournament in Model.Tournaments)
        {
            <div class="col-md-4">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" src="/UploadedPhotos/CoverPhotos/@tournament.CoverPhoto">
                        <div class="card-body">
                            <h5 class="card-title">@tournament.Name</h5>
                            <h6 class="card-title">@tournament.GameType | @tournament.CourtType</h6>
                            <p class="card-text">Maximum Rank:@tournament.MinRank</p>
                            <a asp-controller="Tournament" asp-action="AddPlayerToTournament" asp-route-tournamentId="@tournament.Id" class="btn btn-success">Join</a>
                            <a asp-controller="Tournament" asp-action="Details" asp-route-id="@tournament.Id" class="btn btn-outline-dark">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}